*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: 1rem;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.nav{
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.nav-item{
    color: black;
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-weight: 400;
}
.nav-item:hover{
    background-color: gainsboro;
}

.body-one{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}
.body-one_item{
    position: relative;
}
.one_item{
    font-weight: 600;
    font-size: 1.5rem;
    position: absolute;
    top: 200px;
    left: 100px;
}
.body-two{
    font-size: 2rem;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 130px;
}
.body-three{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}
.body-three_item{
    position: relative;
}
.three_item{
    color: white;
    font-weight: 500;
    font-size: 1.5rem;
    position: absolute;
    top: 250px;
    left: 150px;
}

.end{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    background-color: yellow;
}
.end-item{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}
.item{
    font-size: 1rem;
}
